%main.main.cover
  %section.container
    %section.body

      %section.card.profile
        %section.top-nav
          = link_to helper_page_path(id: 'traveller_available'), title: 'Profile' do
            = fa_icon 'long-arrow-left', class: 'white'

        = image_tag 'app-grabs/traveller_profile.png', alt: 'Profile image', class: 'profile-img'

        %h1
          = t('helper_traveller_profile.name')

      %section.card

        %h2
          = t('helper_traveller_profile.about.title')
        %p
          = t('helper_traveller_profile.about.info')
          
        %h2 
          = t('helper_traveller_profile.tags')

        = render partial: 'partials/tags', locals: {tag_a: I18n.t('traveller_tag.tag_a'), tag_b: I18n.t('traveller_tag.tag_b'), tag_c: I18n.t('traveller_tag.tag_c'), tag_d: I18n.t('traveller_tag.tag_d'), tag_e: I18n.t('traveller_tag.tag_e'), tag_f: I18n.t('traveller_tag.tag_f')}

    %section.actions.primary
      = link_to I18n.t('button.offer_to_help'), helper_page_path(id: 'offer_confirmed'), class: 'button primary confirm' 