%span.modal
  %main.main.full
    %section.container
      %section.body
        %section.card

          %h1.top-nav
            = t('about_station.title')
            %span.hide
              = fa_icon 'times'

          %p
            = t('about_station.info')

        %section.card
          .title
            = t('about_station.around')  
          = render partial: 'partials/list_getting_around'

        %section.card
          .title
            = t('about_station.accessibility')
          = render partial: 'partials/list_access'
