= link_to page_path(id: 'search_details'), :title => "Search Details" do
  %section.card
    .info
      .icon
        = fa_icon "circle-o"
    .info.right 
      15mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.05am – 11:20am. Ramps available.
= link_to page_path(id: 'search_details'), :title => "Search Details" do
  %section.card
    .info
      .icon
        = fa_icon "circle-o"
    .info.right 
      25mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.05am – 11:13am. Ramps available.
= link_to page_path(id: 'search_details'), :title => "Search Details" do
  %section.card
    .info
      .icon
        = fa_icon "circle-o"
    .info.right 
      5mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.05am – 11:13am. Lifts available.
= link_to page_path(id: 'search_details'), :title => "Search Details" do
  %section.card
    .info
      .icon
        = fa_icon "circle-o"
    .info.right 
      45mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.05am – 11:13am. Lifts & ramps available.