= link_to page_path(id: 'search_details'), :title => "Search Details" do
  %section.card.divide
    .info
      .icon
        = fa_icon "check"
    .info.right 
      15mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.05am – 11:20am. Ramps available.


  %section.card.divide
    .info
      .icon
        = fa_icon "circle-o"
    .info.right 
      25mins
      %span
        = fa_icon "angle-right"
    .info.extra
      11.35am – 11:55am. Ramps available.