%section.slide.listing.divide
  .extra
    = t('about_station.access_options.options_a')
  .check
    .right 
      = fa_icon 'check', class: 'alert'

%section.slide.listing.divide
  .extra
    = t('about_station.access_options.options_b')
  .check
    .right 
      = fa_icon 'check', class: 'alert'

%section.slide.listing.divide
  .extra
    = t('about_station.access_options.options_c')
  .check
    .right 
      = fa_icon 'check', class: 'alert'

%section.slide.listing.divide
  .extra
    = t('about_station.access_options.options_d')
  .check
    .right 
      = fa_icon 'check', class: 'alert'

%section.slide.listing.divide
  .extra
    = t('about_station.access_options.options_e')
  .check
    .right 
      = fa_icon 'times', class: 'alert'

%section.slide.listing
  .extra
    = t('about_station.access_options.options_f')
  .check
    .right 
      = fa_icon 'times', class: 'alert'