%section.slide.listing.divide
  .extra
    = t('about_station.getting_around.around_a')
  .check
    .right 
      = fa_icon 'check'

%section.slide.listing.divide
  .extra
    = t('about_station.getting_around.around_b')
  .check
    .right 
      = fa_icon 'times'

%section.slide.listing.divide
  .extra
    = t('about_station.getting_around.around_c')
  .check
    .right 
      = fa_icon 'check'

%section.slide.listing.divide
  .extra
    = t('about_station.getting_around.around_d')
  .check
    .right 
      = fa_icon 'check'

%section.slide.listing.divide
  .extra
    = t('about_station.getting_around.around_e')
  .check
    .right 
      = fa_icon 'times'