%section.markers
  %section
    = fa_icon "circle-o"
  %section.link.long
  %section
    = fa_icon 'map-marker'
%section.info-wrap
  %span.top
    .title
      = t('departure.from.title')
    .info
      = t('departure.from.info')
    .extra
      = link_to page_path(id: 'about_station'), :title => 'About Station' do
        = t('departure.from.extra')
  %span.bottom
    .title
      = t('departure.to.title')
    .info
      = t('departure.to.info')
    .extra
      = link_to page_path(id: 'about_station'), :title => 'About Station' do
        = t('departure.to.extra')