%section.key
  %h2 Helper's current route
  %section.markers
    %section
      .info 
        = info
      .info.extra
        = info_extra
      = fa_icon "circle-o"

    %section.link.center
    
    %section
      = fa_icon "map-marker"
      .info 
        = info
      .info.extra
        = info_extra