%section.markers
  %section
    = fa_icon 'circle-o'
  %section.link.long
  %section
    = fa_icon 'map-marker'
%section.info-wrap
  %span.top
    .title
      = t('departure.from.title')
    .info
      = t('departure.from.info')
    %span.open
      .extra
        = t('departure.from.extra')
  %span.bottom
    .title
      = t('departure.to.title')
    .info
      = t('departure.to.info')
    %span.open
      .extra.open
        = t('departure.to.extra')