%section.card
  %h2 
    = title

  %ul.tags
    %li 
      %span 
        = tag_1
    %li 
      %span
        = tag_2
    %li 
      %span
        = tag_3
    %li 
      %span
        = tag_4
    %li 
      %span
        = tag_5
    %li 
      %span
        = tag_6