%main.main.full
  %section.container
    %section.body
      %section.card

        %h1
          = t('about_station.title')

        %p
          = t('about_station.info')

      %section.card
        %h2
          = t('about_station.around')  
        = render partial: 'partials/list'
        = render partial: 'partials/list'

      %section.card
        %h2
          = t('about_station.accessibility')
        = render partial: 'partials/list'
        = render partial: 'partials/list'
