%main.main
  %section.container
    %section.body
      %h2 
        = t('acknowledgement.title')

      %p 
        = t('dummy.lorem')

      %p 
        = t('dummy.lorem')

      %p 
        = t('dummy.lorem')

      %section.actions.primary
        = render partial: "partials/button", locals: {one: I18n.t('button.consent'), page: 'legal_consent', myclass: 'button confirm'}