%main.main
  %section.container
    %section.body
      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.personal_details'), page: 'helper_profile_create_private', myclass: 'button secondary'}
        = render partial: "partials/button", locals: {one: I18n.t('button.public_details'), page: 'helper_profile_create_public', myclass: 'button secondary active'}
      
      %section.card

        = fa_icon "camera"

        %h2 
          = t('form.title')

        %section.form
          %input{:placeholder => t('form.first_name')}
          %input{:placeholder => t('form.last_name')}
          %input{:placeholder => t('form.nickname')}

      %section.card
        %h2 
          = t('helper_profile_create_public.gender')

        %section.actions.secondary
          = render partial: "partials/button", locals: {one: I18n.t('button.male'), myclass: 'secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.female'), myclass: 'secondary'}

      %section.card
        %h2 
          = t('helper_profile_create_public.title')

        = render partial: "partials/tags", locals: {tag_a: "Lifting up", tag_b: "Securing while on train", tag_c: "Support", tag_d: "Pushing up slope", tag_e: "Holding me down steep slope", tag_f: "Emotional"}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.create_profile'), page: 'helper_search_when_where', myclass: 'button primary confirm'}