%main.main
  %section.container
    %section.body
      %h2.white
        Help us to match you to someone who will be the most helpful.

      %section
        = link_to "Female", search_results_path, :class => 'button big'
        = link_to "Male", search_results_path, :class => 'button big'
        = link_to "One off", search_results_path, :class => 'button big'
        = link_to "Routine", search_results_path, :class => 'button big'

    %section.actions.primary
      = link_to "Update", search_results_path, :class => 'button primary'