%main.main
  %section.container
    %section.body
      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.personal_details'), page: 'helper_profile_create_private', myclass: 'button secondary active'}
        = render partial: "partials/button", locals: {one: I18n.t('button.public_details'), page: 'helper_profile_create_public', myclass: 'button secondary'}
      
      %section.card
        %h2 
          = t('form.personal')

        %section.form
          %input{:placeholder => t('form.email')}
          %input{:placeholder => t('form.password')}
          %input{:placeholder => t('form.tel')}

      %section.card
        %h2 
          = t('form.emergency')

        %section.form
          %input{:placeholder => t('form.name')}
          %input{:placeholder => t('form.tel')}
          %input{:placeholder => t('form.relationship')}

      %section.card
        %h2 
          = t('helper_profile_create_private.gender')

        %section.actions.secondary
          = render partial: "partials/button", locals: {one: I18n.t('button.male'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.female'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.either'), myclass: 'button secondary'}

      %section.card
        %h2 
          = t('helper_profile_create_private.routine')

        %section.actions.secondary
          = render partial: "partials/button", locals: {one: I18n.t('button.oneoff'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.routine'), myclass: 'button secondary'}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.create_profile'), page: 'profile_confirm', myclass: 'button primary deactive'}