%header.header
  .back
    = link_to page_path(id: 'helper_journey_create'), :title => "Profile" do
      = fa_icon "long-arrow-left"
%main.main.search-details
  %section.container
    %section.body
      %section.card

        %h2
          = t('helper_search_details.info')

      %section.key.card.divide
        = render partial: 'partials/route_large'

      %h2
        = t('helper_search_details.departure')
      
      = render partial: 'partials/helper_departure'

      %section.actions.primary
        = render partial: "partials/button", locals: {one: I18n.t('button.find_traveller'), page: 'helper_traveller_search', myclass: 'button primary confirm'}
  = render partial: 'partials/about_station'
