%main.main.full
  %section.container
    %section.body
      %section.card

        %h2 
          = t('travellers_available.title')
        %p
          = t('travellers_available.info')

      = link_to page_path(id: 'helper_traveller_profile'), title: 'Profile' do
        %section.card.divide.profile-card
          .profile
            = image_tag 'app-grabs/traveller_profile.png', alt: 'Profile image'
          .extra
            = t('link.profile')
          .info
            = t('traveller_profile.name')
          .right 
            %span
              = fa_icon 'angle-right'

        %section.card.divide.profile-card.deactive
          .profile
            = image_tag 'app-grabs/profile_001.png', alt: 'Profile image'
          .extra
            = t('link.profile')
          .info
            = t('dummy.name_a')
          .right 
            %span
              = fa_icon 'angle-right'

        %section.card.divide.profile-card.deactive
          .profile
            = image_tag 'app-grabs/profile_002.png', alt: 'Profile image'
          .extra
            = t('link.profile')
          .info
            = t('dummy.name_b')
          .right 
            %span
              = fa_icon 'angle-right'

      %section.key.card
        = render partial: 'partials/route_large'