%header.header
  .back
    = link_to page_path(id: 'helper_journey_add'), :title => "Profile" do
      = fa_icon "long-arrow-left"
%main.main
  %section.container
    %section.body
      %section.card

        %h2
          = t('helper_upcoming_journeys.title')

        =image_tag "app-grabs/traveller_profile.png", :alt => "Profile image", :class => "profile-img"

      %section.key.card
        = render partial: 'partials/route_large'

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.view_profile'), page: 'helper_traveller_profile_contact', myclass: 'button primary confirm'}

  = render partial: 'partials/about_station'