%main.main
  %section
    %h2.white
      What help do you need today?

  %section.select
    = link_to "Finding my way around", help_pref_path, :class => 'button big center'
    = link_to "Feel safe", help_pref_path, :class => 'button big center'
    = link_to "A helping hand", help_pref_path, :class => 'button big center'

  %section.actions
    = link_to "Add/edit needs", help_pref_path, :class => 'button center primary'
    = link_to "Continue", help_pref_path, :class => 'button center primary'