%main.main.search-details
  %section.container
    %section.body
      %section.card

        %p
          = t('helper_search_details.info')

      %section.key.card.divide
        = render partial: 'partials/route_large'

        %h2
          = t('helper_search_details.departure')
      
      = render partial: 'partials/helper_departure'
      = render partial: 'partials/departure'

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.find_traveller'), page: 'helper_traveller_search', myclass: 'button primary confirm'}
