%main.main
  %section.body
    %section.card
      = link_to page_path(id: 'traveller_journey_wait'), :title => "Profile" do
        = image_tag "color/logo.svg", :alt => "Lend a hand logo", :class => "logo"
    
    %section.card
      %h2
        = t('helper_accept.title')

      %p
        = t('helper_accept.info')

    %section.actions.secondary
      = render partial: "partials/button", locals: {one: I18n.t('button.back_journey'), page: 'traveller_journey_wait', myclass: 'button secondary'}
      = render partial: "partials/button", locals: {one: I18n.t('helper_accept.contact'), page: 'traveller_journey_wait', myclass: 'button secondary'}