%main.main.search-details
  %section.container
    %section.body
      %section.card

        %h1
          = t('helper_search_details.title')

        %p
          = t('helper_search_details.info')

        = render partial: 'partials/route_large'

        %h2
          = t('helper_search_details.departure')

      = render partial: 'partials/helper_departure'

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.find_traveller'), page: 'searching', myclass: 'button primary confirm'}
