%main.main.search-details
  %section.container
    %section.body

      %h2
        = t('helper_search_details.title')

      = render partial: 'partials/route_large'

      %h2
        = t('helper_search_details.departure')

      = render partial: 'partials/helper_departure'

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.find'), page: 'searching', myclass: 'button primary confirm'}
