%main.main
  %section.container
    %section.body
      %h2
        = t('legal_helper.title')

      %section.card
        .info
          = t('legal_helper.consent')
        .info.right
          = fa_icon "check"

      %section.card
        .info
          = t('legal_helper.acknowledge')
        .info.right
          %span
          = fa_icon "check"

      = link_to page_path(id: 'acknowledgement'), :title => "Acknowledgement of responsibility" do
        %section.card
          .info
            = t('legal_helper.id')
          .info.right
            %span
            = fa_icon "check"

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.continue'), page: 'photo_id', myclass: 'button'}