%main.main
  %section.container
    %section.body
      %h2 
        = t('legal_consent.title')

      = link_to page_path(id: 'consent'), :title => "Consent to share" do

        %section.card
          .info
            = t('legal_consent.consent')
          .info.right
            = fa_icon "check"
      = link_to page_path(id: 'acknowledgement'), :title => "Acknowledgement of responsibility" do
        %section.card
          .info
            = t('legal_consent.acknowledgement')
          .info.right
            %span
            = fa_icon "check"

      %section.actions.primary
        = render partial: "partials/button", locals: {one: I18n.t('button.continue'), page: 'profile_create_private', myclass: 'button'}