%main.main
  %section.container
    %section.body

      %section.card
        %section.profile
          %h2 
            = t('photo_id.title')

          = fa_icon "camera"

          %h3
            = t('photo_id.info')


      %section.card
        %h2
          = t('photo_id.check')
      
        %section.actions.secondary
          = render partial: "partials/button", locals: {one: I18n.t('button.nope'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.yep'), myclass: 'button secondary'}

  %section.actions.primary
    = render partial: "partials/button", locals: {one: I18n.t('button.confirm'), page: 'helper_profile_create_private', myclass: 'button primary confirm'}