%main.main
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Profile", page_path(id: 'profile'), :class => 'button secondary'
        = link_to "Route", page_path(id: 'profile_route'), :class => 'button secondary'
        = link_to "Contact", page_path(id: 'profile_contact'), :class => 'button secondary active'
      
      = render partial: "partials/profile", locals: {title: "We found someone who would like to help.", name: "Jon Snow", info: "could be lending you a hand"}

      %section.actions.secondary
        = link_to "Call Jon", page_path(id: 'profile_contact'), :class => 'button secondary'
        = link_to "Message Jon", page_path(id: 'profile_contact'), :class => 'button secondary'

      %section.actions.secondary
        = link_to "Find me another", page_path(id: 'sorry'), :class => 'button secondary'

      %section.actions.primary
        = link_to "Accept", page_path(id: 'profile_confirm'), :class => 'button primary confirm'