%main.main
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Profile", page_path(id: 'profile'), :class => 'button secondary active'
        = link_to "Route", page_path(id: 'profile_route'), :class => 'button secondary'
        = link_to "Contact", page_path(id: 'profile_contact'), :class => 'button secondary'

      = render partial: "partials/profile", locals: {title: "We found someone who would like to help.", name: "Jon Snow", info: "could be lending you a hand"}

      %section.card
        %section
          .info Lending a hand since:
          .info.right 13/05/17

        %section
          .info People helped:
          .info.right 22

      = render partial: "partials/tags", locals: {title: "Feedback", tag_1: "Went above and beyond", tag_2: "Experienced", tag_3: "Engaging", tag_4: "Knowledge in technique", tag_5: "Funny and supportive", tag_6: "Super helpful"}

      = render partial: "partials/secondary_single", locals: {title: "Find me another", page: 'sorry'}

      = render partial: "partials/cta", locals: {title: "Accept", page: 'helper_status'}