%main.main.profile-route
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Profile", page_path(id: 'profile'), :class => 'button secondary'
        = link_to "Route", page_path(id: 'profile_route'), :class => 'button secondary active'
        = link_to "Contact", page_path(id: 'profile_contact'), :class => 'button secondary'

      %section.card
        %section.profile
          =image_tag "app-grabs/profile400x400.png", :alt => "Profile image", :class => "profile-img"
          
          %h2 Jon Snow
          %p could be lending you a hand

        %h3 Helper's current route
      %section.key
        %section.markers
          %section
            .info 11:05 AM. Platform 1. 
            .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            = fa_icon "circle-o"

          %section.link.center
          
          %section
            = fa_icon "map-marker"
            .info 11:25 AM Platform 2. 
            .info.extra Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      %section.actions.secondary
        = link_to "Find me another", page_path(id: 'sorry'), :class => 'button secondary'

      %section.actions.primary
        = link_to "Accept", page_path(id: 'profile_confirm'), :class => 'button primary confirm'