%main.main.profile-route
  %section.container
    %section.body
      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.profile'), page: 'profile', myclass: 'button secondary'}
        = render partial: "partials/button", locals: {one: I18n.t('button.route'), page: 'profile_route', myclass: 'button secondary active'}
        = render partial: "partials/button", locals: {one: I18n.t('button.contact'), page: 'profile_contact', myclass: 'button secondary'}

      = render partial: "partials/profile", locals: {title: I18n.t('helper_profile.title'), name: I18n.t('helper_profile.name'), info: I18n.t('helper_profile.info')}
        
      = render partial: "partials/route", locals: {title: "Helper's current route", info: "11:05 AM. Platform 1.", info_extra: "Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit."}

      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.decline'), page: 'sorry', myclass: 'button secondary'}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.accept'), page: 'helper_status', myclass: 'button primary confirm'}