%main.main.profile-route
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Profile", page_path(id: 'profile'), :class => 'button secondary'
        = link_to "Route", page_path(id: 'profile_route'), :class => 'button secondary active'
        = link_to "Contact", page_path(id: 'profile_contact'), :class => 'button secondary'

      = render partial: "partials/profile", locals: {title: "We found someone who would like to help.", name: "Jon Snow", info: "could be lending you a hand"}
        
      = render partial: "partials/route", locals: {title: "Helper's current route", info: "11:05 AM. Platform 1.", info_extra: "Accessibility information Lorem ipsum dolor sit amet, consectetur adipiscing elit."}

      = render partial: "partials/secondary_single", locals: {title: "Find me another"}

      %section.actions.secondary
        = link_to "Find me another", page_path(id: 'sorry'), :class => 'button secondary'

      %section.actions.primary
        = link_to "Accept", page_path(id: 'profile_confirm'), :class => 'button primary confirm'