%main.main
  %section.container
    %section.body
      %section.actions.secondary
        = link_to "Personal details", page_path(id: 'profile_create_private'), :class => 'button secondary'
        = link_to "Public profile", page_path(id: 'profile_create_public'), :class => 'button secondary active'
      
      %section.card

        = fa_icon "camera"

        %section.form
          %input{:placeholder => "First name"}
          %input{:placeholder => "Last name"}

        %section.form
          %input{:placeholder => "Email"}
          %input{:placeholder => "Password"}

      %section.card
        %h2 Gender

        %section.actions.secondary
          = link_to "Female", page_path(id: 'profile_create_public'), :class => 'button secondary'
          = link_to "Male", page_path(id: 'profile_create_public'), :class => 'button secondary'

      = render partial: "partials/tags", locals: {title: "Needs", tag_1: "Lifting up", tag_2: "Securing while on train", tag_3: "Support", tag_4: "Pushing up slope", tag_5: "Holding me down steep slope", tag_6: "Emotional"}


      %section.actions.primary
        = link_to "Create profile", page_path(id: 'profile_confirm'), :class => 'button primary confirm'