%main.main
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot T
        .rect T2
      .info.right 
        15mins
        %span
          = fa_icon "angle-right"
      .info.extra
        11.05am – 11:20am. Ramps available.
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot B
        .rect 438
      .info.right 
        25mins
        %span
          = fa_icon "angle-right"
      .info.extra
        11.05am – 11:13am. Ramps available.
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot B
        .rect 438
      .info.right 
        5mins
        %span
          = fa_icon "angle-right"
      .info.extra
        11.05am – 11:13am. Lifts available.
  = link_to search_details_path, :title => "Search Details" do
    %section.card
      .info.icon
        .spot T
        .rect T3
      .info.right 
        45mins
        %span
          = fa_icon "angle-right"
      .info.extra
        11.05am – 11:13am. Lifts & ramps available.