%main.main.search-details
  %section.container
    %section.body

      %h2
        = t('search_details.title')

      = render partial: 'partials/route_large'

      %h2
        = t('search_details.time')

      = link_to page_path(id: 'search_details'), :title => "Search Details" do
        = render partial: 'partials/departure'
      = render partial: 'partials/departure'
      = render partial: 'partials/departure'


    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.find'), page: 'searching', myclass: 'button primary'}