%main.main
  %section.container
    %section.body
      %h2
        = t('search_when_where.title')

      %section.key
        %section.markers
          %section
            = fa_icon "circle-o"
          %section.link
          %section
            = fa_icon "map-marker"
        %section.form

          %input{:placeholder => "From"}
          %input{:placeholder => "To"}

      %h2
        = t('search_when_where.date')

      %section.picker
        .inner
          %ul.month
            %li Aug

          %ul.day
            %li 23

          %ul.time
            %li 9:30

          %ul.meridiem
            %li AM

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.continue'), page: 'search_details', myclass: 'button primary'}