%main.main
  %section.container
    %section.body
      %section.card.divide
        %h1
          = t('traveller_journey_create.title')

        %h2
          = t('traveller_journey_create.info')

        %section.primary
          = render partial: 'partials/button', locals: {one: I18n.t('button.add_journey'), myclass: 'button primary'}

      %section.card
        .title
          = t('helper_journeys.upcoming')
      %section.card
        = link_to page_path(id: 'traveller_journey_upcoming'), title: 'Search Details' do
          %section.slide.divide.profile-card
            .profile
              = image_tag 'app-grabs/helper_profile.png', alt: 'Profile image'
            .info
              = t('helper_profile.name')
              = fa_icon 'angle-right'
            .title
              = t('dummy.time_a')
              ,
              = t('dummy.date_a')
              ,
              = t('departure.from.info')
              = fa_icon 'long-arrow-right'
              = t('departure.to.info')

        %section.card
          .title
            = t('helper_journeys.pending')
        %section.card
          = link_to page_path(id: 'traveller_journey_pending'), title: 'Pending Journey' do
            %section.slide.divide.profile-card
              .profile
                = fa_icon 'user', class: 'circle'
              .info
                = fa_icon 'angle-right'
              .title
                = t('dummy.time_b')
                ,
                = t('dummy.date_b')
                ,
                = t('departure.from.info')
                = fa_icon 'long-arrow-right'
                = t('departure.to.info')

      %section.card
        %p
          = t('helper_journeys.faq')

    %section.actions.secondary
      = render partial: 'partials/button', locals: {one: I18n.t('button.journey'), myclass: 'button secondary active'}
      = render partial: 'partials/button', locals: {one: I18n.t('button.message'), myclass: 'button secondary'}
      = render partial: 'partials/button', locals: {one: I18n.t('button.profile'), page: 'traveller_profile', myclass: 'button secondary'}