%main.main.cover
  %section.container
    %section.body

      %section.card.profile
        %section.top-nav
          = link_to page_path(id: 'traveller_journey_add'), :title => "Profile" do
            = fa_icon 'long-arrow-left', class: 'white'
          = fa_icon 'pencil', class: 'circle'

        = image_tag "app-grabs/traveller_profile.png", :alt => "Profile image", :class => "profile-img"

        %h1
          = t('traveller_profile.name')

      %section.card

        %p
          = t('traveller_profile.info')

      %section.card
        %h2 
          = t('traveller_profile.tags')

        = render partial: "partials/tags", locals: {tag_a: I18n.t('traveller_tag.tag_a'), tag_b: I18n.t('traveller_tag.tag_b'), tag_c: I18n.t('traveller_tag.tag_c'), tag_d: I18n.t('traveller_tag.tag_d'), tag_e: I18n.t('traveller_tag.tag_e'), tag_f: I18n.t('traveller_tag.tag_f')}

    %section.actions.secondary.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.journey'), page: 'traveller_journey_add', myclass: 'button secondary'}
      = render partial: "partials/button", locals: {one: I18n.t('button.message'), myclass: 'button secondary'}
      = render partial: "partials/button", locals: {one: I18n.t('button.profile'), page: 'traveller_profile', myclass: 'button secondary active'}