%main.main.cover
  %section.container
    %section.body

      %section.card.profile
        %section.top-nav
          = link_to page_path(id: 'helper_journey_upcoming'), :title => "Profile" do
            = fa_icon 'long-arrow-left', class: 'white'

        = image_tag "app-grabs/traveller_profile.png", :alt => "Profile image", :class => "profile-img"

        %h1
          = t('traveller_profile.name')

      %section.card
        %p
          = t('traveller_profile.info')

      %section.card
        %h2 
          = t('helper_traveller_profile.tags')

        = render partial: "partials/tags", locals: {tag_a: I18n.t('traveller_tag.tag_a'), tag_b: I18n.t('traveller_tag.tag_b'), tag_c: I18n.t('traveller_tag.tag_c'), tag_d: I18n.t('traveller_tag.tag_d'), tag_e: I18n.t('traveller_tag.tag_e'), tag_f: I18n.t('traveller_tag.tag_f')}

    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.contact'), page: 'helper_journey_contact', myclass: 'button primary confirm'}
