%main.main.traveller_profile_complete
  %section.container
    %section.body

      %section.card
        %h1
          = t('traveller_profile_edit.title')

        %h2
          = t('traveller_profile_edit.info')

      %section.card

        %p
          = t('traveller_profile_edit.upload')
        = image_tag "app-grabs/traveller_profile.png", :alt => "Profile image", :class => "profile-img"


      %section.card
        .form
          %p
            = t('form.about')
          %textarea
            = t('traveller_profile.about.info')

      %section.card
        %p
          = t('traveller_profile_edit.gender')

        %section.actions.secondary
          = render partial: "partials/button", locals: {one: I18n.t('button.male'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.female'), myclass: 'button secondary'}
          = render partial: "partials/button", locals: {one: I18n.t('button.either'), myclass: 'button secondary active'}

      %section.card
        .form
          %p 
            = t('traveller_profile_edit.tags')
          %input
      %section.card
        = render partial: "partials/tags", locals: {tag_a: I18n.t('traveller_tag.tag_a'), tag_b: I18n.t('traveller_tag.tag_b'), tag_c: I18n.t('traveller_tag.tag_c'), tag_d: I18n.t('traveller_tag.tag_d'), tag_e: I18n.t('traveller_tag.tag_e'), tag_f: I18n.t('traveller_tag.tag_f')}


    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.create_profile'), page: 'traveller_profile_confirm', myclass: 'button primary confirm'}