%main.main.full
  %section.container
    %section.body
      %section.card

        %h2 
          = t('travellers_available.title')
        %p
          = t('travellers_available.info')

      = link_to page_path(id: 'traveller_profile'), :title => "Search Details" do
        %section.card.divide
          .info.profile
            =image_tag "app-grabs/profile400x400.png", :alt => "Profile image", :class => "profile-img"
          .info.right 
            %span
              = fa_icon "angle-right"
          .info.extra
            = t('traveller_profile.name')

      %section.card.divide
        .info.profile
          =image_tag "app-grabs/profile_001.png", :alt => "Profile image", :class => "profile-img"
        .info.right 
          %span
            = fa_icon "angle-right"
        .info.extra
          = t('dummy.name_a')

      %section.card.divide
        .info.profile
          =image_tag "app-grabs/profile_002.png", :alt => "Profile image", :class => "profile-img"
        .info.right 
          %span
            = fa_icon "angle-right"
        .info.extra
          = t('dummy.name_b')

      %section.card
        = render partial: 'partials/route_large'