%main.main.cover
  %section.container
    %section.body

      %section.card.profile
        %section.top-nav
          = link_to page_path(id: 'traveller_journey_upcoming'), :title => "Profile" do
            = fa_icon 'long-arrow-left', class: 'white'

        = image_tag "app-grabs/profile_003.png", :alt => "Profile image", :class => "profile-img"

        %h1
          = t('helper_profile.name')


      %section.card
        %p
          = t('helper_profile.about')

        %p
          = t('helper_profile.help')

      %section.card
        %h2 
          = t('helper_profile.tags')

        = render partial: "partials/tags", locals: {tag_a: I18n.t('helper_tag.tag_a'), tag_b: I18n.t('helper_tag.tag_b'), tag_c: I18n.t('helper_tag.tag_c'), tag_d: I18n.t('helper_tag.tag_d'), tag_e: I18n.t('helper_tag.tag_e'), tag_f: I18n.t('helper_tag.tag_f')}

      %section.actions.secondary
        = render partial: "partials/button", locals: {one: I18n.t('button.flag'), page: 'traveller_concern', myclass: 'button secondary confirm'}


    %section.actions.primary
      = render partial: "partials/button", locals: {one: I18n.t('button.feedback'), page: 'traveller_feedback', myclass: 'button primary confirm'}