%main.main
  %section.container
    %section.body

      %section.card
        %h1
          = t('traveller_profile_edit.title')

        %h2
          = t('traveller_profile_edit.info')

      %section.card

        %p
          = t('traveller_profile_edit.upload')
        = fa_icon 'camera', class: 'circle'


      %section.card
        .form
          %p
            = t('form.about')
          %textarea{placeholder: t('form.about_eg')}

      %section.card
        %p
          = t('traveller_profile_edit.gender')

        %section.actions.secondary
          = render partial: 'partials/button', locals: {one: I18n.t('button.male'), myclass: 'button secondary'}
          = render partial: 'partials/button', locals: {one: I18n.t('button.female'), myclass: 'button secondary'}
          = render partial: 'partials/button', locals: {one: I18n.t('button.either'), myclass: 'button secondary'}

      %section.card
        .form
          %p 
            = t('traveller_profile_edit.tags')
          %input{placeholder: t('form.tag')}


    %section.actions.primary
      = link_to I18n.t('button.create_profile'), traveller_page_path(id: 'profile_complete'), class: 'button primary'

